.svg {
  height: fit-content;
  width: fit-content;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svg path {
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}
